<h1>Stock NewEgg</h1>
<p>Listando Consolas Xbox</p>


<h2>Stock De Xbox Series X</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @xsx_stock.each do |xsx| %>
      <tr>
        <td><%= xsx.title %></td>
        <td><%= xsx.price %></td>
        <td><%= link_to('NewEgg page', xsx.link) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Stock De Xbox Series S</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @xss_stock.each do |xss| %>
      <tr>
        <td><%= xss.title %></td>
        <td><%= xss.price %></td>
        <td><%= link_to('NewEgg page', xss.link) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
